<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock title %}</title>
  <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
  <div class="header">
    <div class="header_content">
      <h1>Blog IT</h1>
    </div>
    <div class="user">
      {% if user.username %}
        <p>Xin chào {{user.username}}!</p>
      {% endif %}
    </div>
  </div>
  <div class="navbar">
    <a href="/">Thông tin cá nhân</a>
    <a href="{% url 'show_list_post' %}">Bài viết <span class="badge badge-light">{{posts_size}}</span></a>
    <a href="{% url 'show_list_skill' %}">Kĩ năng</a>
    <a href="{% url 'contact' %}">Liên hệ</a>
    <a href="{% url 'new_post' %}">Tạo bài viết mới</a>
    <input type="text" placeholder="Search">
    {% if user.username %}
      <a href="{% url 'logout' %}">Đăng xuất</a>
    {% else %}
      <a href="{% url 'login' %}">Đăng nhập</a>
      <a href="{% url 'register' %}">Đăng kí</a>
    {% endif %} 
  </div>
  <div class="row">
    <div class="side">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <img src="{% static 'image/avatar.jpg' %}" alt="avatar">
    </div>
    <div class="main">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  <div class="footer">
    <h2>Footer</h2>
  </div>
</body>
</html>