<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form action="." method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            {{form.username}}<br>
            <label for="email">Email</label>
            {{form.email}}<br>
            <label for="password">Password</label>
            {{form.password1}}<br>
            <label for="conformPassword">ConformPassword</label>
            {{form.password2}}<br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>