{% extends 'pages/base.html' %}
{% block title %}Skill{% endblock title %}

{% block content %}
    <div>
        <h2>Programming Language: </h2>
        <p>HTML</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%;"></div>
        </div>
        <p>CSS</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:40%;"></div>
        </div>
        <p>JS</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:20%;"></div>
        </div>
        <p>Python</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:60%"></div>
        </div>
        <p>C++</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:30%"></div>
        </div>
        <p>Java</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" style="width:30%"></div>
        </div>
    </div>
    <div>
        <h2>FrameWork: </h2>
        <p>Django</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" style="width:60%"></div>
        </div>
        <p>Bootstrap4</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:20%;"></div>
        </div>
        <p>JQuery</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:60%;"></div>
        </div>
    </div>
    <br><br><br>
{% endblock content %}