{% extends 'pages/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="gallery">
                <a href="{% url 'show_detail_post' post.id %}"><img src="{{post.image.url}}" alt="Post Image"></a>
                <h2><a href="{% url 'show_detail_post' post.id %}" class="title">{{post.title}}</a></h2>
                <p><a href="{% url 'show_detail_post' post.id %}">{{post.description}}</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}