{% extends 'pages/base.html' %}
{% block title %}Post{% endblock title %}

{% block content %}
    <input class="form-control mb-3 w-25" id="search" placeholder="Search title" aria-label="Search">
    <div class="card-columns">
        {% for post in posts %}
            {% comment %} <div class="post">
                <div class="gallery">
                    <a href="{% url 'show_detail_post' post.id %}"><img src="{{post.image.url}}" alt="Post Image"></a>
                    <h2><a href="{% url 'show_detail_post' post.id %}" class="title">{{post.title}}</a></h2>
                    <p><a href="{% url 'show_detail_post' post.id %}">{{post.description}}</a></p>
                </div>
            </div> {% endcomment %}

            <div class="card">
                <img src="{{post.image.url}}" alt="Post Image" class="card-img-top">
                <div>
                    <h2 class="card-title">{{post.title}}</h2>
                    <p class="card-text">{{post.description}}</p>
                    <a href="{{ post.get_absolute_url }}" class="card-link stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}